<template>
  <el-card>

    <div class="enhavo_teksto_titolo">
      <div>Правила рассмотрения заявлений, связанных с размещением пользователями контента на сайте Техноком</div>
    </div>
    <div>
      <div><p>Содержание Сайта Техноком (https://tehnokom.su) (далее – Сайт) составляют тексты, графические изображения,
        элементы дизайна, видео, аудио, программы для ЭВМ и другие объекты (далее – Контент). Если явно не указано иное,
        Контент Сайта представляет собой Контент, созданный на Сайте или загруженный на Сайт Пользователями.</p>
        <p>Применительно к защите интеллектуальных прав в связи с пользовательским Контентом на Сайте ООО<br>
          «СО-Профит» выступает информационным посредником и в соответствии со ст. 1253.1 Гражданского Кодекса РФ и ст.
          15.7 Федерального закона «Об информации, информационных технологиях и о защите информации» принимает меры по
          пресечению соответствующих нарушений по заявлениям правообладателей.</p>
        <p>Если Вы обнаружили на Сайте Контент, использование которого, по Вашему мнению, является незаконным,
          пожалуйста, ознакомьтесь с настоящим документом. Просим Вас с пониманием отнестись к тому, что в отсутствие
          необходимого объема информации о предполагаемом нарушении и принадлежности прав мы не можем должным образом
          отреагировать на Ваше заявление.</p>
        <p><a name="1. Общие положения"></a></p>
        <div class="wk_header"><strong>1. Общие положения</strong></div>
        <p>Сайт представляет собой Интернет-ресурс, созданный для того, чтобы люди могли поддерживать связь со старыми
          знакомыми, находить новых друзей и общаться.</p>
        <p>Настоящие Правила рассмотрения заявлений, связанных с размещением Контента на Сайте Техноком (далее –
          Правила) являются официальным документом ООО «СО-Профит» (далее – Администрация Сайта) и определяют политику
          Администрации Сайта в отношении урегулирования конфликтов, возникающих в связи с Контентом, размещенным
          Пользователями на Сайте, а также права и обязанности Администрации Сайта, Пользователей Сайта и третьих лиц в
          процессе урегулирования подобных конфликтов.</p>
        <p>Не определенные прямо в настоящих Правилах термины, написанные с заглавной буквы, имеют значения, указанные в
          Правилах пользования Сайтом.</p>
        <p>В случае наличия противоречий между Правилами пользования Сайтом и настоящими Правилами применяются положения
          настоящих Правил, за исключением случаев, прямо оговоренных в Правилах пользования Сайтом или настоящих
          Правилах.</p>
        <p>При рассмотрении заявлений в соответствии с настоящими Правилами Администрация Сайта руководствуется
          следующими принципами:</p>
        <p><a name="Законность"></a></p>
        <div class="wk_sub_header"><strong>Законность</strong></div>
        <p>Администрация Сайта соблюдает российское законодательство и не осуществляет контроль и цензуру<br>
          отношений, связанных с применением Пользователями технических возможностей Сайта.<br>
          Пользователи вправе в соответствии с законодательством свободно использовать возможности Сайта для обмена
          информацией, в том числе в рамках обсуждения творчества любимых авторов и исполнителей, качества и
          использования товаров и услуг третьих лиц.</p>
        <p><a name="Поддержка борьбы с незаконным контентом"></a></p>
        <div class="wk_sub_header"><strong>Поддержка борьбы с незаконным контентом</strong></div>
        <p>К сожалению, нельзя исключить случаи, когда Пользователи могут с помощью Сайта незаконно хранить,<br>
          передавать, распространять и предоставлять доступ к информации и объектам интеллектуальной<br>
          собственности.</p>
        <p>Администрация Сайта не вправе принимать на себя функции правоохранительных либо судебных органов и объективно
          не в состоянии оценить, является тот или иной контент, размещенный на Сайте, законным или нет. В случае
          возникновения спорной ситуации заявителю следует обращаться в правоохранительные органы и суды.</p>
        <p><a name="Презумпция добросовестности Пользователей"></a></p>
        <div class="wk_sub_header"><strong>Презумпция добросовестности Пользователей</strong></div>
        <p>Администрация Сайта уважает своих Пользователей и исходит из того, что Пользователи Сайта соблюдают
          требования применимого законодательства и Правил пользования Сайтом и добросовестно используют возможности и
          ресурсы Сайта.</p>
        <p>Администрация Сайта рекомендует лицам, полагающим, что размещенный на Сайте контент нарушает их права и
          законные интересы, в первую очередь, обращаться к Пользователям, разместившим соответствующий контент. Как
          показывает опыт, в большинстве случаев возможно напрямую оперативно разрешить конфликт.<br>
          Если добиться желаемого результата не удалось, заинтересованному лицу следует обратиться к Администрации Сайта
          в соответствии с настоящими Правилами.</p>
        <p><a name="Прозрачность и доступность процедуры"></a></p>
        <div class="wk_sub_header"><strong>Прозрачность и доступность процедуры</strong></div>
        <p>Подача заявлений в соответствии с настоящими Правилами не требует специальных технических или<br>
          юридических знаний и навыков. Рассмотрение заявлений осуществляется бесплатно в рамках единой для всех
          заявителей процедуры.</p>
        <p>Администрация Сайта принимает на себя обязательство обеспечить надежность технических средств,<br>
          используемых для подачи и обработки заявлений, а также оперативность всех коммуникаций с заявителями.</p>
        <p><a name="Добросовестность заявителей"></a></p>
        <div class="wk_sub_header"><strong>Добросовестность заявителей</strong></div>
        <p>Администрация Сайта не рассматривает анонимные заявления, а также заявления, поданные в интересах<br>
          третьих лиц, за исключением случаев, когда законодательство допускает соответствующее представительство
          интересов.</p>
        <p>Процедура рассмотрения заявлений, предусмотренная настоящими Правилами, не должна использоваться кем- либо
          исключительно с целью создания препятствий для законного распространения Контента.</p>
        <p>Заявитель признает и подтверждает, что Контент, в отношении которого подается заявление, был размещен на
          Сайте Пользователем Сайта незаконно.</p>
        <p><a name="2. Заявление о незаконном размещении Контента"></a></p>
        <div class="wk_header"><strong>2. Заявление о незаконном размещении Контента</strong></div>
        <dl>
          <dd><b>2.1.</b> Любой правообладатель объектов авторских или смежных прав (далее – Заявитель) в случае
            обнаружения на Сайте Контента, размещенного Пользователями без его разрешения или иного законного основания,
            вправе обратиться к Администрации Сайта с заявлением о нарушении его авторских и (или) смежных прав на
            Контент.
          </dd>
        </dl>
        <dl>
          <dd><b>2.2.</b> Для обращения к Администрации Сайта Заявитель использует электронную почту
            support@tehnokom.su.
            Обращение указанным способом к Администрации Сайта считается обращением в электронной форме для целей
            соблюдения требований ст. 15.7 Федерального закона «Об информации, информационных технологиях и о защите
            информации».
          </dd>
        </dl>
        <dl>
          <dd><b>2.3.</b> Обращаясь с заявлением к Администрации Сайта, лицо должно аргументированно заявить о нарушении
            его прав и законных интересов. Заявление должно содержать следующую достоверную информацию:<p></p>
            <dl>
              <dd><b>2.3.1.</b> сведения о Заявителе, позволяющие его идентифицировать и оперативно с ним связываться в
                случае необходимости, в том числе по электронной почте:<p></p>
                <dl>
                  <dd><b>а)</b> для физического лица — фамилию, имя, отчество, паспортные данные (серия и номер, кем
                    выдан, дата выдачи), контактную информацию (номера телефона и (или) факса, адрес электронной почты);
                  </dd>
                  <dd><span class="l"><b>б)</b> для юридического лица — наименование, место нахождения и адрес, контактную информацию (номера телефона и (или) факса, адрес электронной почты).</span>
                  </dd>
                </dl>
              </dd>
              <dd><span class="l"><b>2.3.2.</b> информацию о конкретном Контенте (далее – Спорный объект), размещенном на Сайте без разрешения правообладателя или иного законного основания;</span>
              </dd>
            </dl>
          </dd>
        </dl>
        <dl>
          <dd>
            <dl>
              <dd><b>2.3.3.</b> URL-адрес страницы Сайта, в отношении аудио- и видеоконтента — с результатами поисковой
                выдачи по запросу в отношении Спорного объекта и с указанием URL-адреса персональной страницы одного
                Пользователя, на которую есть ссылка в поисковой выдаче и копию Спорного объекта на странице которой
                Заявитель считает эталонной в целях идентификации Спорного объекта и его копий на Сайте);
              </dd>
            </dl>
          </dd>
        </dl>
        <dl>
          <dd>
            <dl>
              <dd><b>2.3.4.</b> указание на наличие у правообладателя прав на Спорный объект, размещенный на Сайте без
                его разрешения или иного законного основания;
              </dd>
            </dl>
          </dd>
        </dl>
        <dl>
          <dd>
            <dl>
              <dd><b>2.3.5.</b> указание на отсутствие разрешения правообладателя на размещение на Сайте Спорного
                объекта;
              </dd>
            </dl>
          </dd>
        </dl>
        <dl>
          <dd>
            <dl>
              <dd><b>2.3.6.</b> согласие Заявителя на обработку его персональных данных (для Заявителя — физического
                лица).
              </dd>
            </dl>
          </dd>
        </dl>
        <dl>
          <dd><b>2.4.</b> Заявитель вправе приложить копии документов, подтверждающих права Заявителя в отношении
            Спорного объекта. Заявитель вправе дополнительно к указанным выше документам представить иную информацию, в
            том числе ссылки на официальные ресурсы, свидетельствующие о принадлежности прав на Спорный объект
            Заявителю. К заявлению могут прилагаться документы, содержащие иную дополнительную информацию по заявлению.
            В случае, если заявление подается уполномоченным лицом, к заявлению прикладывается копия документа,
            подтверждающего его полномочия.
          </dd>
        </dl>
        <dl>
          <dd><b>2.5.</b> Ввиду технических ограничений веб-формы Заявителю необходимо убедиться, что лимит возможных
            символов не превышен. Администрация Сайта не несет ответственности за непринятие мер в отношении Спорных
            объектов по URL-адресам за пределами указанного лимита в случае технического сбоя в передаче соответствующей
            информации Администрации Сайта.
          </dd>
        </dl>
        <dl>
          <dd><b>2.6.</b> Независимо от формата предоставления URL-адресов (непосредственно в веб-форме или в
            прикрепленном документе) должна быть обеспечена активность соответствующих гиперссылок, т.е. возможность
            автоматического перехода к Спорному объекту без набора URL-адреса вручную.
          </dd>
        </dl>
        <dl>
          <dd><b>2.7.</b> Размер каждого электронного файла, прилагаемого к заявлению, не должен превышать 200 (двести)
            мегабайт. Направляя заявление в предусмотренном настоящими Правилами порядке, Заявитель выражает свое
            согласие с тем, что сведения о нем и (или) уполномоченных им лицах (включая персональные данные) и его
            заявление будут использоваться Администрацией Сайта для дальнейших коммуникаций по заявлению, а также могут
            быть направлены Администрацией Сайта обратившемуся с возражениями Пользователю.
          </dd>
        </dl>
        <dl>
          <dd><b>2.8.</b> В случае обнаружения неполноты сведений, неточностей или ошибок в заявлении Администрация
            Сайта вправе направить Заявителю уведомление об уточнении представленных сведений.
          </dd>
        </dl>
        <dl>
          <dd><b>2.9.</b> В течение 24 часов с момента получения уведомления, указанного в п. 2.8 настоящих Правил,
            Заявитель принимает меры, направленные на восполнение недостающих сведений, устранение неточностей и ошибок,
            и направляет Администрации Сайта уточненные сведения.
          </dd>
        </dl>
        <p><a name="3. Рассмотрение заявления о незаконном размещении Контента и меры реагирования"></a></p>
        <div class="wk_header"><strong>3. Рассмотрение заявления о незаконном размещении Контента и меры
          реагирования</strong></div>
        <dl>
          <dd><b>3.1.</b> Если поступившее заявление полностью соответствует требованиям пунктов 2.2.-2.7.настоящих
            Правил и отсутствуют признаки злоупотребления правом, описанные в разделе 5 Правил, Администрация Сайта
            принимает меры, необходимые для прекращения нарушения интеллектуальных прав Заявителя, как описано вп. 3.2.
            ниже. Датой получения заявления считается дата успешной отправки заполненной формы Заявителем через
            интерфейс Сайта, отображаемая, в частности, в соответствующем разделе страницы Заявителя на Сайте.
          </dd>
        </dl>
        <dl>
          <dd><b>3.2.</b> В установленный законодательством срок с момента получения заявления или уточненных Заявителем
            сведений (в случае направления Заявителю уведомления, указанного в п. 2.8 настоящих Правил) Администрация
            Сайта удаляет Спорный объект.
          </dd>
        </dl>
        <dl>
          <dd><b>3.3.</b> При наличии у Администрации Сайта доказательств, подтверждающих правомерность размещения на
            Сайте Спорного объекта, Администрация Сайта вправе не принимать предусмотренные п. 3.2. настоящих Правил
            меры и обязана направить Заявителю соответствующее уведомление с приложением указанных доказательств.
          </dd>
        </dl>
        <dl>
          <dd><b>3.4.</b> В случае возникновения вопросов или обоснованных возражений в связи с удалением Спорного
            объекта, Пользователь (в том числе администратор Сообщества) может обратиться в Службу технической поддержки
            Сайта (при подаче возражений Пользователю необходимо предоставить достоверную информацию о правах на Спорный
            объект, основаниях принадлежности таких прав, а также надлежащим образом заверенные копии документов,
            подтверждающих права Пользователя на Спорный объект).
          </dd>
        </dl>
        <p><a name="4. Технологии, используемые Администрацией Сайта"></a></p>
        <div class="wk_header"><strong>4. Технологии, используемые Администрацией Сайта</strong></div>
        <p>Администрация Сайта стремится постоянно совершенствовать технологии, препятствующие нарушению<br>
          интеллектуальных прав на Сайте.</p>
        <p><a name="5. Злоупотребление процедурой рассмотрения заявлений"></a></p>
        <div class="wk_header"><strong>5. Злоупотребление процедурой рассмотрения заявлений</strong></div>
        <p>Не допускается злоупотребление возможностями процедуры, установленной настоящими Правилами.<br>
          Следующие действия признаются Администрацией Сайта злоупотреблением со стороны Заявителей:- неоднократные
          обращения с заявлениями, формально соответствующими требованиям настоящих Правил, но содержащими по
          результатам проверки заведомо ложную информацию;<br>
          — фальсификация документов (включая электронные) и информации;<br>
          — подача заявления с нарушением п. 2.2 Правил или с использованием аккаунта, содержащего недостоверную
          информацию;<br>
          — использование автоматических рассылок и/или роботов для обращения и/или коммуникаций с<br>
          Администрацией Сайта;<br>
          — обращение Заявителя после подачи электронного заявления по настоящим Правилам к Администрации Сайта с таким
          же по сути заявлением в отношении того же Спорного объекта любым иным способом, если при этом отсутствует
          ссылка на номер изначально поданного электронного заявления, и наоборот, – обращение с электронным заявлением
          в соответствии с Правилами после того, как в адрес Администрации Сайта было направлено такое же по сути
          заявление в отношении того же Спорного объекта любым иным способом.</p>
        <p><a name="6. Хранение и конфиденциальность информации"></a></p>
        <div class="wk_header"><strong>6. Хранение и конфиденциальность информации</strong></div>
        <p>Администрация Сайта вправе хранить все данные, документы и электронные сообщения, связанные с<br>
          рассмотрением заявления в течение 3 (трех) лет с даты окончания процедуры рассмотрения заявления, если более
          длительное хранение и использование соответствующей информации не является необходимым для целей защиты прав
          Администрации Сайта. Настоящее положение Правил не влияет на сроки хранения информации в рамках персональной
          страницы Сайта, используемой Заявителем для подачи заявления, которые определяются самим Заявителем.</p>
        <p>Администрация Сайта не раскрывает информацию о ходе рассмотрения заявления, содержании удаленных Спорных
          объектов и заявлений, за исключением случаев, установленных действующим законодательством и настоящими
          Правилами.</p>
        <p>Администрация Сайта оставляет за собой право вносить в настоящие Правила изменения и дополнения.<br>
          Актуальная редакция Правил содержится по адресу: <nuxt-link to="/cc-regulo">https://tehnokom.su/cc-reguloj</nuxt-link>.
        </p>
        <p>Редакция от 15 июля 2017 года.</p></div>
    </div>

  </el-card>
</template>

<script>
  export default {
    name: "cc-reguloj",

    head: {
      title: 'Правила рассмотрения заявлений, связанных с размещением пользователями контента на сайте Техноком',
      meta: [
        {hid: 'description', name: 'description',
          content: 'Правила рассмотрения заявлений, связанных с размещением пользователями контента на сайте Техноком'}
      ]
    }
  }
</script>

<style scoped>
  .enhavo_teksto_titolo {
    padding-bottom: 10px;
    font-weight: bold;
  }

  ul {
    margin-top: 1em;
  }

  li {
    margin-left: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>
