<template>
  <tab-div id="content" :style="{ width: calcWidth + 'px', 'margin-left': calcMarginLeft + 'px' }">
    <v-row class="flex-child py-0 my-0">
      <v-col
        class="py-0 my-0"
        xl="8"
        lg="8"
        md="8"
        sm="12"
        cols="12"
        order-xl="1"
        order-lg="1"
        order-md="1"
        order-sm="1"
        order="1"
      >
        <v-row>
          <v-col cols="12" class="col-padding">
            <siriuso-block>
              <v-combobox
                v-model="normalizeOptionsSelect"
                :items="normalizeOptions"
                label="Выберите опции фильтрации"
                multiple
                outlined
                dense
                deletable-chips
                chips
                hide-details
                solo
                flat
                hide-selected
                small-chips
              ></v-combobox>

              <v-row class="mx-0">
                <v-col cols="8" class="py-0 my-0">
                  <v-subheader class="pl-0">Минимальное количество символов: {{cropLength}}</v-subheader>
                  <v-slider v-model="cropLength" min="0" max="5"></v-slider>
                </v-col>
                <v-col cols="4" class>
                  <v-btn @click="freqVocabular(textInput)">Поехали!</v-btn>
                </v-col>
              </v-row>
            </siriuso-block>
          </v-col>
          <v-col cols="12" class="col-padding">
            <siriuso-block>
              <v-textarea
                :height="this.$vuetify.breakpoint.height - 250"
                filled
                clearable
                no-resize
                autofocus
                solo
                name="input-7-4"
                label="Текст"
                placeholder="введите несколько строчек"
                value
                v-model="textInput"
              ></v-textarea>
            </siriuso-block>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        class="col-padding"
        xl="4"
        lg="4"
        md="4"
        sm="12"
        cols="12"
        order-xl="1"
        order-lg="1"
        order-md="1"
        order-sm="1"
        order="1"
      >
        <siriuso-block>
          <v-row class="pa-0 ma-0">
            <v-col>
              <v-switch
                hide-details
                v-model="switch1"
                label
                :prepend-icon="!switch1 ? 'mdi-human-greeting':'mdi-robot'"
                class="custom-switch"
              ></v-switch>
            </v-col>
            <v-col>
              <v-btn @click="copyText" v-show="switch1" dense small icon>
                <v-icon>mdi-clipboard-text</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-sheet
            v-show="!switch1"
            class="overflow-y-auto"
            :style="tileStyle"
            :height="this.$vuetify.breakpoint.height"
          >
            <p>Всего слов: {{this.initialTextLength}}</p>
            <p>Нормализованных слов: {{this.resultTextLength}}</p>
            <p>Уникальных слов: {{this.unikWordSize}}</p>
            <p>Найдено в словаре: {{this.calcWordOfDict}}</p>

            <p v-for="(item,idx) in resultList" :key="item.idx+idx" class="dict-link">
              <a
                :href="item.remoteLink"
                target="_blank"
              >{{item.word + " - " + item.count + (item.dict !== undefined & item.dict != null ? " - "+item.dict :'')}}</a>
            </p>
          </v-sheet>

          <v-textarea
            id="tocopy"
            v-show="switch1"
            :height="this.$vuetify.breakpoint.height"
            filled
            no-resize
            readonly
            name="input-7-4"
            label="Результат"
            placeholder="Результат"
            solo
            v-model="textOut"
          ></v-textarea>
        </siriuso-block>
      </v-col>
    </v-row>
  </tab-div>
</template>

<script>
import tabDiv from "~/components/tabDiv";
import tinycolor from "tinycolor2";
import siriusoBlock from "~/components/siriusoBlock";
import dictionary from "~/static/dictionary.json";

export default {
  components: {
    tabDiv,
    siriusoBlock
  },
  data() {
    return {
      normalizeOptions: [
        "Цифры",
        "-j",
        "-n",
        "-a в -o",
        "-e в -o",
        "-as, -is, -os, -us, -u в -i",
        "-i, -as, -is, -os, -us, -u в -o"
      ],
      normalizeOptionsSelect: [
        "Цифры",
        "-j",
        "-n",
        "-as, -is, -os, -us, -u в -i"
      ],
      mystore: this.$store.state.tabLogic,
      textInput:
        "Fantomo hantas en Eŭropo ‒ la fantomo de komunismo. Ĉiuj potencoj de la malnova Eŭropo alianciĝis por sankta ĉaskampanjo kontraŭ tiu fantomo: la Papo kaj la Caro, Metternich kaj Guizot, francaj radikaluloj kaj germanaj policistoj. \nKie estas tiu opozicia partio, kiu de siaj regantaj ontraŭuloj ne estas misfamigita kiel komunista? Kie estas la opozicia partio, kiu ne estis reĵetinta la stigmatizan riproĉon de komunismo kaj al la pli progresintaj opoziciuloj kaj al siaj reakciaj kontraŭuloj? \nDu aferoj sekvas el tiu fakto. \nLa komunismo jam estas agnoskita mem kiel potenco de ĉiuj eŭropaj potencoj. \nEstas urĝa tempo, ke la komunistoj antaŭ la tuta mondo malkaŝe prezentu siajn vidpunktojn, siajn celojn, siajn tendencojn kontraŭmetante al la fantomfabelo pri la komunismo manifeston de la partio mem. \n",
      textOut: "",
      cropDigit: true,
      cropLength: 0,

      esperantoDict: Map,
      switch1: false,
      resultList: [],
      initialTextLength: 0,
      resultTextLength: 0,
      calcWordOfDict: 0,
      unikWordSize: 0,
      dictionary: dictionary
    };
  },
  computed: {
    calcWidth() {
      if (this.$vuetify.breakpoint.width < 1264) {
        return this.$vuetify.breakpoint.width - 4 - this.calcMarginLeft;
      } else {
        return 1206;
      }
    },
    calcMarginLeft() {
      if (
        !this.$store.getters["tabLogic/leftDrawer"](
          this.$vuetify.breakpoint.width
        )
      ) {
        return 0;
      } else {
        return 48;
      }
    },
    tileStyle: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny = tinycolor(color);
        let tiny0 = tiny.complement();
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0.01);
        return `background: ${tiny
          .setAlpha(0.05)
          .lighten(30)
          .toRgbString()};   color: ${tiny
          .setAlpha(1)
          .darken(85)
          .toRgbString()};   `;
      }
    }
  },
  methods: {
    copyText() {
      let input = document.getElementById("tocopy");
      input.select();
      document.execCommand("copy");
    },
    freqVocabular: function(text) {
      //очищаю всё от предыдущего раза использования
      this.textOut = "";
      this.resultList = [];
      this.initialTextLength = 0;
      this.resultTextLength = 0;
      this.calcWordOfDict = 0;
      this.unikWordSize = 0;

      //подсчёт количества одинаковых слов и заполнение map ключ:слово количество:значение
      function countWord(array) {
        let myMap = new Map(),
          str;
        for (let i = 0; i < array.length; i++) {
          str = array[i];
          str !== ""
            ? myMap.has(str)
              ? myMap.set(str, myMap.get(str) + 1)
              : myMap.set(str, 1)
            : "";
        }
        return myMap;
      }
      //сортировка. сначала переношу map в массив, потом сортирую массив
      function sortObject(map) {
        let arr = [];
        for (var [key, value] of map) {
          arr.push({ key: key, value: value });
        }
        arr.sort(function(a, b) {
          return b.value - a.value;
        });
        //arr.sort(function(a, b) { a.value.localeCompare(b.value); }); //для сравнения строк
        return arr;
      }
      //обрезаю выбранный символ на концах слов, если слово больше 3 букв
      function cropSymbol(array, sym) {
        let arr = [];
        for (let i = 0; i < array.length; i++) {
          const el = array[i];
          (el.length > 3) & (el[el.length - 1] === sym)
            ? arr.push(el.slice(0, -1))
            : arr.push(el);
        }
        return arr;
      }
      // заменяю выбранный символ на концах строк на новый, если слово больше 3 букв
      function changeSymbol(array, sym, symNew) {
        let arr = [];
        for (let i = 0; i < array.length; i++) {
          const el = array[i];
          (el.length > 3) & (el[el.length - 1] === sym)
            ? arr.push(el.slice(0, -1) + symNew)
            : arr.push(el);
        }
        return arr;
      }
      // удаляю j если не выбрано удаление n, если слово больше 3 букв
      function cropJwithN(array) {
        let arr = [];
        for (let i = 0; i < array.length; i++) {
          const el = array[i];
          (el.length > 3) & (el[el.length - 2] === "j")
            ? arr.push(el.slice(0, -2) + "n")
            : arr.push(el);
        }
        return arr;
      }
      //заменяю два последних символа на новый, если слово больше 3 букв
      function changeSymbols(array, sym, symNew) {
        let arr = [];
        for (let i = 0; i < array.length; i++) {
          const el = array[i];
          (el.length > 3) &
          (el[el.length - 1] === sym[1]) &
          (el[el.length - 2] === sym[0])
            ? arr.push(el.slice(0, -2) + symNew)
            : arr.push(el);
        }
        return arr;
      }
      // перевожу символы в X-написание и формирую url на словарь
      function toXNotatioUrl(str) {
        let arr = ["ĉ", "ĝ", "ĥ", "ŝ", "ŭ", "ĵ"];
        let arrx = ["cx", "gx", "hx", "sx", "ux", "jx"];
        let map = new Map();
        for (let i = 0; i < arr.length; i++) {
          map.set(arr[i], arrx[i]);
        }

        let strArr = str.split("");
        let newStrArr = [];
        for (let i = 0; i < strArr.length; i++) {
          let el = strArr[i];
          map.has(el) ? (el = map.get(el)) : "";
          newStrArr.push(el);
        }
        let newStr = newStrArr.join("");
        return "http://rueo.ru/sercxo/" + newStr;
      }
      //подсчитываю сколько найденых слов присутствует в словаре
      function calculateWord(dict, map) {
        let calc = 0;
        for (let key of map.keys()) {
          dict.has(key) ? calc++ : "";
        }
        return calc;
      }
      //паттерн для удаления пробелов
      let pattern = /\s+/;
      //паттерн для удаления всех лишних символов кроме буквенно-числовых
      let patternW = /[^ a-zA-Zа-яА-ЯёЁĈĉĜĝĤĥŜŝŬŭĴĵ0-9]+/;
      //паттерн для удаления символа возврата каретки
      let patternCarriage = /[ \n]+/;
      //очищаю текст от лишнего и заношу его в массив
      let arrText = text
        .toLowerCase()
        .split(patternCarriage)
        .join(" ")
        .split(patternW)
        .join("")
        .split(pattern);
      //оставлю пока массив для дальнейшего использования (для подсчёта слов и сравнения с нормализованнным)
      let arrText1 = arrText;
      // // Возможность установить длину слов, которые будут пропускаться, чтобы отсечь различные служебные части речи.
      // // Возможность установить пропуск цифр, потому что в некоторых случаях нужен будет анализ по используемым числам, например, по датам, но в большинстве случаев такой информации не нужно будет. Речь про цифры написанные цифрами, не буквами :-)
      //// Самые базовые настройки это:
      //// Группировать слова в единственном и множественном числе (с -j и без -j на окончании).
      //// Группировать слова в винительном и именительном падеже (с -n и без -n на окончании).
      //// Все глаголы приводить в инфинитив (-as, -is, -os, -us, -u преобразовывать в -i).
      //// С использованием таких настроек очень мало будет случаев не совсем правильной группировки.
      //// Дополнительные настройки:
      //// Прилагательные приводить к существительным (-a преобразовывать в -o).
      //// Наречия приводить к существительным (-e преобразовывать в -o).
      //// Тут могут получаться с разной периодичностью из нормальных частотных прилагательных или наречий, очень странные и редко используемые существительные.
      //// Ну и можно ещё:
      //// Глаголы приводить к существительным (-i, -as, -is, -os, -us, -u преобразовывать в -o).
      //// В целом опция объединения всех глаголов в инфинитив решает большинство проблем с количеством вариантов и даже если будут различные корни и как существительное, и как глагол, это будет в целом нормально для частотного списка, но если прям очень нужно будет собрать все слова в одну форму, можно будет использовать эту опцию с теми же последствиями, что я писал про прилагательные / существительные.

      let that = this;
      //убираем цифры
      if (this.normalizeOptionsSelect.includes("Цифры")) {
        let pat = /\d+/;
        arrText = arrText
          .join(" ")
          .split(pat)
          .join("")
          .split(pattern);
      }
      // удаляем слишком короткие слова
      if (that.cropLength) {
        for (let i = 0; i < arrText.length; i++) {
          arrText[i].length <= that.cropLength - 1 ? (arrText[i] = "") : "";
        }

        arrText = arrText.join(" ").split(pattern);
      }

      //удаляем -n
      if (this.normalizeOptionsSelect.includes("-n")) {
        arrText = cropSymbol(arrText, "n");
      }
      // удаляем -j
      if (this.normalizeOptionsSelect.includes("-j")) {
        arrText = cropSymbol(arrText, "j");
      }
      //-as, -is, -os, -us, -u преобразовывать в -i
      if (this.normalizeOptionsSelect.includes("-as, -is, -os, -us, -u в -i")) {
        arrText = changeSymbols(arrText, "as", "i");
        arrText = changeSymbols(arrText, "is", "i");
        arrText = changeSymbols(arrText, "os", "i");
        arrText = changeSymbols(arrText, "us", "i");
        arrText = changeSymbol(arrText, "u", "i");
      }
      //-i, -as, -is, -os, -us, -u преобразовывать в -o
      if (
        this.normalizeOptionsSelect.includes("-i, -as, -is, -os, -us, -u в -o")
      ) {
        arrText = changeSymbol(arrText, "i", "o");
        arrText = changeSymbols(arrText, "as", "o");
        arrText = changeSymbols(arrText, "is", "o");
        arrText = changeSymbols(arrText, "os", "o");
        arrText = changeSymbols(arrText, "us", "o");
        arrText = changeSymbol(arrText, "u", "o");
      }
      //-a преобразовывать в -o
      if (this.normalizeOptionsSelect.includes("-a в -o")) {
        arrText = changeSymbol(arrText, "a", "o");
      }

      //-e преобразовывать в -o

      if (this.normalizeOptionsSelect.includes("-e в -o")) {
        arrText = changeSymbol(arrText, "e", "o");
      }
      // если убираем -j оставляя -n
      if (
        !this.normalizeOptionsSelect.includes("-n") &
        this.normalizeOptionsSelect.includes("-j")
      ) {
        arrText = cropJwithN(arrText);
      }
      //подсчёт количества одинаковых слов и заполнение map ключ:слово количество:значение
      let dictMap = countWord(arrText);
      //сортировка. сначала переношу map в массив, потом сортирую массив result
      let result = sortObject(dictMap);
      //сравниваю свой словарь со списком найденых слов чтоб посчитать количество
      this.calcWordOfDict = calculateWord(this.esperantoDict, dictMap);
      //заполняю массив из объектами содержащими индекс:слово:количество:перевод:url на внешний словарь
      // мне это нужно чтобы удобно обращаться для формирования второго варианта вывода результата
      // for (var p in result) {
      //   if (result.hasOwnProperty(p)) {
      //     this.resultList[p] = {
      //       idx: p,
      //       word: result[p].key,
      //       count: result[p].value,
      //       dict: this.esperantoDict.get(result[p].key),
      //       remoteLink: toXNotatioUrl(result[p].key)
      //     };
      //   }
      // }
      for (var p in result) {
        if (result.hasOwnProperty(p)) {
          let textstring = "";
          let linkstring = "";
          this.esperantoDict.has(result[p].key)
            ? this.esperantoDict.get(result[p].key).forEach(element => {
                element.translate.forEach(el => {
                  textstring = textstring + el + "; ";
                });
                linkstring = linkstring + element.toXnotatio;
              })
            : (textstring = null);

          this.resultList[p] = {
            idx: p,
            word: result[p].key,
            count: result[p].value,
            dict: textstring,
            remoteLink: toXNotatioUrl(result[p].key)
          };
        }
      }
      //заполняю свойства в data для того чтоб обращаться к ним из вёрстки
      //количество найденных слов
      this.initialTextLength = arrText1.length;
      //общее количество нормализованных слов
      this.resultTextLength = arrText.length;
      // количество уникальных слов
      this.unikWordSize = dictMap.size;

      //формирую текст для вывода
      let textOutString =
        "Всего слов: " +
        this.initialTextLength +
        "\n" +
        "Нормализованных слов: " +
        this.resultTextLength +
        "\n" +
        "Уникальных слов: " +
        this.unikWordSize +
        "\n" +
        "Найдено в словаре: " +
        this.calcWordOfDict +
        "\n";
      for (var p in this.resultList) {
        textOutString +=
          p +
          " :: " +
          this.resultList[p].word +
          " - " +
          this.resultList[p].count +
          ((this.resultList[p].dict !== undefined) &
          (this.resultList[p].dict !== null)
            ? " - " + this.resultList[p].dict
            : " - " + this.resultList[p].remoteLink) +
          "\n";
      }
      //заношу текст в свойство в data
      this.textOut = textOutString;
    }
  },
  mounted() {
    this.esperantoDict = new Map();
    for (let i = 0; i < this.dictionary.length; i++) {
      this.esperantoDict.set(this.dictionary[i].key, this.dictionary[i].value);
    }
    // console.log(this.esperantoDict.size);
  }
};
</script>

<style scoped>
#content {
  /* padding: 2em; */
  height: calc(100% - 55px);
  position: relative;
  top: -12px;
  background: rgba(145, 148, 151, 0);
  margin: 0px 0px 0px 48px;
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
.dict-link a {
  color: #0d0d0e !important;
  caret-color: #15151a !important;
  text-decoration: none;
}
.dict-link a:hover {
  color: #0d0d0e !important;
  caret-color: #15151a !important;
  text-decoration: darkred;
}
.dict-link a:active {
  color: #0d0d0e !important;
  caret-color: #15151a !important;
  text-decoration: darkred;
}
@media screen and (max-width: 600px) {
  .col-padding {
    padding: 5px;
  }
}
@media screen and (min-width: 601px) {
  .col-padding {
    padding: 7.5px;
  }
}
</style>