<template>
  <div>
    <div
      id="content"
      :style="{ width: calcWidth + 'px', 'margin-left': calcMarginLeft + 'px' }"
      style="background-image: url(images/earth.png); background-attachment: fixed; background-position: top center !important;  "
      class="flex-child"
    >
      <v-row
          id="main_block"
          class="pa-0 ma-0"
          :style="{'min-height': ($vuetify.breakpoint.height - 48) + 'px'}">
        <v-col  style="display: flex; flex-direction: column; padding-right: 0;">
          <siriuso-block-bordered class="col-padding ma-0" styleComponent="color: white; height: 100%;" style="flex: 1 1 auto;">
            <v-row style="padding-top: 40px; align-items: center; height: 100%;" class="pa-0 ma-0" >
              <v-col
                align="center"
                justify="center"
                class="pa-0 ma-0"
              >
                <img src="/images/logo12.png" alt="Техноком" style="height: 250px" />
                <p
                    style="color: white; font-weight: 500; letter-spacing: normal!important;
                    font-family: Roboto,sans-serif!important;font-size: 30px!important;
                    line-height: 36px!important; padding-bottom: 30px;"
                >Сделайте шаг в будущее</p>
                <v-btn
                    style=" font-weight: 400; font-family: Roboto,sans-serif!important; font-size: 20px!important;"
                    large
                    rounded
                    dark
                    color="rgba(0,123,172,.5)"
                    href="registrado"
                >В будущее</v-btn>
                <br>
                <span class="mainpage__button1"></span>
                <p
                    style="color: white; font-weight: 400; letter-spacing: .02em!important;
                    font-family: Roboto,sans-serif!important; font-size: 20px!important;
                    line-height: 22px!important; padding-top: 55px;"
                >Нажмите на эту кнопку и всё начнётся</p>
              </v-col>
            </v-row>
          </siriuso-block-bordered>

          <v-row class="pa-0 ma-0" style="flex: 0 1 auto;">
            <v-col
              class="col-padding ma-0"
              v-for="tile in tiles"
              :key="tile.id + 'M'"
              :id="'M' + tile.id"
              :cols="tile.xs"
              :xl="tile.xl"
              :lg="tile.lg"
              :md="tile.md"
              :sm="tile.sm"
              :order-xl="tile.orderxl"
              :order-lg="tile.orderlg"
              :order-md="tile.ordermd"
              :order-sm="tile.ordersm"
              :order="tile.orderxs"
            >
              <siriuso-block-bordered
                :heightComponent="tile.height"
                styleComponent=" color: white "
              >
                <img :src="tile.image_url" :alt="tile.title" style="float: left; width: 130px;">
                <h3 style="padding-left: 135px; margin-bottom: 10px;">{{tile.title}}</h3>
                <p style="padding-left: 135px;">{{tile.text}}</p>
              </siriuso-block-bordered>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row
        :style="`min-height: ${$vuetify.breakpoint.height}px;     padding-top: 100px !important;
`"
        class="flex-child px-0 ma-0 pt-4"
      >
        <v-col :style="`min-height: ${$vuetify.breakpoint.height}px; padding-right: 0;`">
          <siriuso-block-bordered class="col-padding ma-0" styleComponent=" color: white ">1</siriuso-block-bordered>
          <siriuso-block-bordered class="col-padding ma-0 pl-0" styleComponent=" color: white ">2</siriuso-block-bordered>
          <siriuso-block-bordered class="col-padding ma-0 pl-0" styleComponent=" color: white ">3</siriuso-block-bordered>
        </v-col>
      </v-row>
    </div>
  </div>
</template>


<script>
import whatIsTehnokom from "../components/notAuth/whatIsTehnokom";
import whosWeAre from "../components/notAuth/whosWeAre";
import ourDeal from "../components/notAuth/ourDeal";
import basement from "../components/notAuth/basement";
import tabDiv from "~/components/tabDiv";
import tinycolor from "tinycolor2";
import siriusoBlock from "~/components/siriusoBlock";
import siriusoBlockBordered from "~/components/siriusoBlockBordered";

export default {
  components: {
    whosWeAre,
    whatIsTehnokom,
    ourDeal,
    basement,
    tabDiv,
    siriusoBlock,
    siriusoBlockBordered
  },
  data() {
    return {
      mystore: this.$store.state.tabLogic,
      tiles: [
        {
          id: 1,
          color: "green lighten-3",
          xl: 4,
          lg: 4,
          md: 4,
          sm: 12,
          xs: 12,
          height: 150,
          orderxl: 1,
          orderlg: 1,
          ordermd: 1,
          ordersm: 2,
          orderxs: 2,
          image_url: '/images/main_help.png',
          title: 'Помочь в развитии проекта',
          // text: "(1r x 1c)",
          text: "Полный перечень способов как можно помочь проекту в развитии."
        },
        {
          id: 2,
          color: "grey lighten-3",
          xl: 4,
          lg: 4,
          md: 4,
          sm: 12,
          xs: 12,
          height: 150,
          orderxl: 2,
          orderlg: 2,
          ordermd: 2,
          ordersm: 1,
          orderxs: 1,
          image_url: '/images/main_doc.png',
          title: 'Документация',
          // text: "(1r x 1c)",
          text: "Всестороннее описание технологий и проектов Технокома."
        },
        {
          id: 3,
          color: "red lighten-3",
          xl: 4,
          lg: 4,
          md: 4,
          sm: 12,
          xs: 12,
          height: 150,
          orderxl: 3,
          orderlg: 3,
          ordermd: 3,
          ordersm: 3,
          orderxs: 3,
          image_url: '/images/main_apps.png',
          title: 'Клиентские приложения',
          // text: "(1r x 1c)",
          text: "Полный функционал для различных операционных систем."
        }
      ]
    };
  },
  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },
  computed: {
    calcWidth() {
      if (this.$vuetify.breakpoint.width < 1264) {
        return this.$vuetify.breakpoint.width - 15 - this.calcMarginLeft;
      } else {
        return 1216;
      }
    },
    calcMarginLeft() {
      if (
        !this.$store.getters["tabLogic/leftDrawer"](
          this.$vuetify.breakpoint.width
        )
      ) {
        return 0;
      } else {
        return 48;
      }
    },
    tileStyle: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny = tinycolor(color);
        let tiny0 = tiny.complement();
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0.01);
        return `background: ${tiny
          .setAlpha(1)
          .lighten(80)
          .toRgbString()};   color: ${tiny
          .setAlpha(1)
          .darken(85)
          .toRgbString()};   `;
      }
    }
  },
  beforeDestroy() {},

  mounted() {}
};
</script>
<style  scoped>
.mainpage__button1 {
  position: absolute;
  width: 48px;
  height: 48px;
  background: url(/images/arrow_curve_white.png) no-repeat;
  margin-left: -12px;
  z-index: 3;
  animation: pulsing 2s linear infinite;
}
@keyframes pulsing {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.mainpage__button {
  transition: 0.3s all;
}

.mainpage__button:hover {
  color: #fff;
  box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 0.2);
  z-index: 999;
}

.mainpage__button:active {
  color: #fff;
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.mainpage__button::before,
.mainpage__button::after {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 999;
}

.mainpage__button::before {
  content: " ";
  top: 46px;
  width: 22px;
  height: 44px;
  margin-left: -11px;
  background: url(/images/arrow_curve_white.png) 0 0 no-repeat;
  z-index: 999;
}

.mainpage__button::after {
  content: attr(data-message);
  top: 83px;
  width: 600px;
  margin-left: -300px;
  font-weight: normal;
  font-size: 26px;
  text-transform: none;
  letter-spacing: 0;
  z-index: 999;
}
#content {
  position: relative;
  top: -12px;
  margin: 0px 0px 0px 48px;
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
@media screen and (max-width: 600px) {
  .col-padding {
    padding: 5px;
  }
}
@media screen and (min-width: 601px) {
  .col-padding {
    padding-right: 0px;
    padding-left: 7.5px;
    padding-top: 0px;
    padding-bottom: 7.5px;
  }
  .col-padding:first-child {
    padding-left: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
